{% extends "layout.html"%}

{%block content%}
<div class="col-xs-6">
    {%from "_macros.html" import render_field %}
    <form action="/" method="post" novalidate>
        <div class="form-group">
            {{render_field(form.spanish)}}
        </div>
        <div>
            {{render_field(form.english)}}
        </div>
        <br>
        <div>
            <h5>{{val_S}}</h5>
        </div>
        <input type='submit' value='Guardar'>
    </form>
</div>
<div class="col-xs-6">
    {{render_field(form.search)}}
    <br>
    <form action="/resultado" method="post">
    <div class="control-group">
        <label for="btnIdioma" class="control-label">Idioma: </label>
        <div class="controls">
            <div class="">
                <input type="radio" name="btnOpcion" value="1">
                <label for="i">Español</label>
            </div>
            <div class="">
                <input type="radio" name="btnOpcion" value="0">
                <label for="i">Ingles</label>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <input type="submit" value="Traducir">
            </div>
        </div>
        <br>
        <label for="txtResultado">Traducción: </label>
        <h1 name="txtResultado">{{buscar}}</h1>
    </div>
    </form>
</div>
{%endblock%}